.inactive{
    display: none;
}
.link-activo{

    color: white;
}

.color-blanco{
    color: white !important;
}
.swal2-title {
    color: black !important;
  }
.bg-cetis{
    background-color: #a7201f;
    color: white;
}
.lopez{
    color: #A7201F;
  }
  .lopez:hover{
    color: #ff5c7b;
  }
  .irizar{
    color: black;
  }
  .irizar:hover{
    color: #2A2A2A;
  }
  .logo-cetis{
    margin-left: 10.5em;
  }
  .h-18{
    height: 18%;
  }
  .w-13{
    width: 13%;
  }
  .cursor-open{
    cursor: pointer;
  }
  