body{
  font-family: 'Poppins', sans-serif !important;
}
.border-radius-0{
  border-radius: 0 !important;
}
.page-item.active .page-link{
  background-color: #A7201F !important;
  border-color: #A7201F !important;
  color: white !important;
}
.page-link{
  color: #691C32 !important;
}
.bg-yellow-custom{
  background-color: rgb(241, 241, 29);
}
.font-light{
 color: hsl(229, 6%, 66%);
 font-weight: lighter;
}
.font-size-low{
  font-size: 60%;
}
.font-bold{
 font-weight: bold !important;
}
.saludo-home{
  color: #2A2A2A;
}
.shadow-border{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
}
.home-header{
  font-weight: bold;
  color: rgb(128, 128, 128);
  transition: color 0.3s;
}
.home-header:hover{
  color: black !important;
}
.tipo-card:hover{
  color: black;
}
.tipo-card{
  color: #a5aeb7;
}
.rojoFuego{
  color: #d63737;
}
.inactive{
    display: none;
}
.link-activo{

    color: white;
}

.color-blanco{
    color: white !important;
}
.swal2-title {
    color: black !important;
  }
.bg-cetis{
    background-color: #cf2c2c !important;
    color: white !important;
}
.bg-cetis2{
    background-color: #9f2241 !important;
    color: white !important;
}
.justificante{
  background-color: #98989A;
  color: black !important;
}
.paseSalida{
  background-color: #691C32;
  color: white !important;
}
/* .bg-cetis:hover{
    background-color: #d43131 !important;
    color: white !important;
} */
.lopez{
    color: #A7201F;
  }
  .lopez:hover{
    color: #ff5c7b;
  }
  .dropdown-item:focus{
    background-color: #ffffff !important; 
    color: #2A2A2A;
  }
  .dropdown-item:active{
    background-color: #ffffff !important; 
    color: #2A2A2A;
  }
  .dropdown-item:hover{
    background-color: #ffffff !important; 
    color: #444444;
  }
  .irizar{
    color: black;
  }
  .irizar:hover{
    color: #2A2A2A;
  }
  .logo-cetis{
    margin-left: 10.5em;
  }
  .h-18{
    height: 18%;
  }
  .w-13{
    width: 13%;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .ml-custom{
    margin-left: 7em;
  }
  .mr-custom{
    margin-right: 4em;
  }

/*   .page-link:active{
    background-color: #A7201F !important;
  } */
  